.container {
  display: flex;
  justify-content:space-evenly;
  align-items:flex-start;
}

.container .col {
  width: 32%;
}


.header-name{
  display: inherit;
  justify-content: center;
}

.header-name > h2{
  text-align:center
}

.header-name > h2 > span{
  position: absolute;
  padding-left: 8px; 
}

.info-icon{
  cursor:help;
}